@{
    ViewBag.Title = "Product";
    Layout = "_Layout";
    var products = ViewData["Products"] as IEnumerable<Product>;
    var productsWithoutCategories = products.Where(p => p.Categories == null || !p.Categories.Any());
    var categories = ViewData["Categories"] as IEnumerable<Category>;
    
}
<div class="container">
    
    <h1>Product page</h1>
   
    @foreach (var category in categories!)
    {
        @if(category.Products != null && category.Products.Any())
        {
            <h2>@category.Name</h2>
            <p>@category.Description</p>
            <ul>

                @foreach (var product in category.Products)
                {
                    <li>@product.Name</li>
                }
            </ul>
            <hr/>
        }
        
    }
    <h2>Products with no categories</h2>
    @foreach (var productsWithoutCategory in productsWithoutCategories)
    {
        <p>@productsWithoutCategory.Name</p>
    }
    
</div>
