<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&display=swap"
        rel="stylesheet">
</head>
<body>
<header>

</header>
@RenderBody()

<footer class="bg-secondary text-white">
    <div class=""
         style="height:152px; opacity:0.6; background-image: url('images/footer-image.png'); background-repeat: no-repeat; background-size: cover"></div>
    <div class="container py-5">
        <div class="row p-5 justify-content-between">
            <div class="col-md-3 col-12"
                 style="height:240px; background-image: url('images/logo-w.svg'); background-repeat: no-repeat; background-size: contain"></div>
            <div class="col-md-3 col-12">
                <div>
                    <h3 class="text-primary">Comércio Vizinho</h3>
                    <p>A plataforma online que conecta os produtores da Cooperativa Agrícola de Alcobaça com toda a
                        vizinhança</p>
                </div>
                <div>

                    <a href="#" class="link-light mb-1 d-block">R. de Leiria, 2460-059 Alcobaça</a>
                    <a href="mailto:contacto@comerciovizinho.pt" class="link-light mb-1 d-block">contacto@comerciovizinho.pt</a>
                    <a href="tel:+351262597553" class="link-light mb-1 d-block">+351 262 597 553</a>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <h3 class="text-primary">Informações</h3>
                <div>
                    <a href="#" class="link-light mb-1 d-block">Minha conta</a>
                    <a href="#" class="link-light mb-1 d-block">Meus pedidos</a>
                    <a href="#" class="link-light mb-1 d-block">Carrinho</a>
                </div>
                <hr/>
                <div>
                    <a href="#" class="link-light mb-1 d-block">FAQ</a>
                    <a href="#" class="link-light mb-1 d-block">Sobre nós</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-secondary-700 text-center text-white p-2 fs-6">
        Copyright 2025, Bruna Flôr e Wes Benvindo
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>