@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";

$primary: #5FB901;

$primary-100: #B5DF89;
$primary-500: $primary;
$primary-900: #366901;

$secondary: #01254F;

$secondary-100: #61AAE7;
$secondary-500: #0076D8;
$secondary-700:#00397C;
$secondary-900: $secondary;


$custom-colors: (
        "primary":$primary,
        "primary-100":$primary-100,
        "primary-500":$primary-500,
        "primary-900":$primary-900,
        "secondary":$secondary,
        "secondary-100":$secondary-100,
        "secondary-500":$secondary-500,
        "secondary-700":$secondary-700,
        "secondary-900":$secondary-900,
);

$theme-colors: map-merge($theme-colors,
        $custom-colors
);

$nav-pills-link-active-color:       $secondary-900;
$nav-pills-link-active-bg:          $primary-500;

$pagination-color:                  var($secondary-700);
$pagination-bg:                     'transparent';
$pagination-border-radius:          $border-radius;
$pagination-border-width:           $border-width;
$pagination-margin-start:           ($pagination-border-width * -1);
$pagination-border-color:           $gray-300;

$pagination-focus-color:            var($secondary-500);
$pagination-focus-bg:               $gray-200;
$pagination-focus-box-shadow:       $input-btn-focus-box-shadow;
$pagination-focus-outline:          0;

$pagination-hover-color:            var($secondary-900);
$pagination-hover-bg:               $gray-200;
$pagination-hover-border-color:     $gray-300;

$pagination-active-color:           $component-active-color;
$pagination-active-bg:              $secondary-700;
$pagination-active-border-color:    $pagination-active-bg;
