@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";

$primary: #5FB901;

$primary-100: #B5DF89;
$primary-500: $primary;
$primary-900: #366901;

$secondary: #01254F;

$secondary-100: #61AAE7;
$secondary-500: #0076D8;
$secondary-700:#00397C;
$secondary-900: $secondary;


$custom-colors: (
        "primary":$primary,
        "primary-100":$primary-100,
        "primary-500":$primary-500,
        "primary-900":$primary-900,
        "secondary":$secondary,
        "secondary-100":$secondary-100,
        "secondary-500":$secondary-500,
        "secondary-700":$secondary-700,
        "secondary-900":$secondary-900,
);

$theme-colors: map-merge($theme-colors,
        $custom-colors
);