@model MVC.Models.Category

<div class="col-12 col-md-@Model.getWidth()">
    <div style="background-image: url('images/banner-image.png');">
        <button class="btn btn-primary rounded-5 text-white w-auto text-capitalize">@Model.Name</button>
    </div>
</div>
