@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Comércio Vizinho";
    var products = ViewData["Products"] as IEnumerable<Product>;
    var productsHighlighted = products.Skip(0).Take(4);
    var categories = ViewData["Categories"] as IEnumerable<Category>;
    var categoriesHighlight = categories.Where(category => 
        category.Name =="Desperdício zero" ||
        category.Name == "Frutas" ||
        category.Name == "Laticínios"
        ).OrderBy(x => x.Name);
    var standardCategories = categories.Where(c => 
        !categoriesHighlight.Any(highlighted => highlighted.Id == c.Id)
    );}

<div>

    <div class="container banner mb-3 px-5">
        <div class="col-12 col-md-8 offset-md-2 mt-5 d-flex align-items-center flex-column">
            <p class="text-center">Frescor e sabor quem vêm da</p>
            <h3 class="title text-secondary text-center">Nossa terra</h3>
        </div>

        <div class="col-12 col-md-5 mt-5 pt-3">
            <form action="">
                <div class="form-floating ml-5">
                    <input type="search" class="form-control" id="floatingInput" placeholder="Pesquisar produtos">
                    <label for="floatingInput">Pesquisar produtos</label>
                </div>
            </form>
        </div>
    </div>
    @* Products *@
    <div class="container mt-5">
        <h2 class="text-center fw-bold text-secondary-900">Produtos</h2>
        <p class="text-center">Colheita da vizinhança. Alimentos cultivados com carinho na sua região</p>

        
        <div class="row align-content-center justify-content-center mt-5 gy-2">
            @foreach (var product in productsHighlighted!)
            {
                @await Component.InvokeAsync("ProductCard", product)
            }
        </div>

        <div class="row justify-content-center mt-5">
            <button class="btn btn-primary rounded-5 text-white w-auto">VER TODOS</button>
        </div>
    </div>


    @* Ads banner *@
    <div class="container ads-banner">
        <div class="col-12 col-md-6">
            <div class="highlight-box d-flex flex-column gap-4">
                <div class="text-secondary w-100 d-flex justify-content-between">
                    <span class="fs-4">Promoções da Vizinhança</span>
                    <img src="~/images/isologo.svg" alt="Duas folhinhas, uma a azul e uma verde">
                </div>
                <div>
                    <h3 class="fs-1 text-primary fw-bolder">Economize 50%</h3>
                    <p class="mb-0">E apoie a nossa comunidade enquanto ajuda a reduzir o desperdicio.</p>
                    <p>Uma forma deliciosa de cuidar do planeta e do se bolso!</p>
                </div>

                <button class="btn btn-primary rounded-5 text-white w-auto">VER TODOS</button>
            </div>
        </div>
    </div>

    @* Categories *@
    <div class="container pb-5 mt-5">
        <div class="col-6 offset-md-3">
            <h2 class="text-center fw-bold text-secondary-900">Categorias</h2>
            <p class="text-center">Explore os nossos produtos por categoria e encontre tudoo que você precisa</p>
        </div>

        <div class="row mt-2 gx-3 category-cards">
            @foreach (var category in categoriesHighlight!)
            {
                if(categoriesHighlight.First().Name == category.Name)
                    category.setWidth("6");
                else category.setWidth($"3");
            
                @await Component.InvokeAsync("CategoryCard", category)
            }
        </div>

        <div class="mt-5 d-flex gap-3 flex-wrap justify-content-center">
            @foreach(var category in standardCategories!)
            {
                @await Component.InvokeAsync("CategoryChip", category)
            }
        </div>

    </div>


</div>