@import "../Styles/variables";

.top-bar {
  background: $primary-900;
}

.banner {
  height: 360px;
  overflow: hidden;
  border-radius: 8px;
  background: $gray-100;
  background-image: url("../images/hero-image.png");
  background-size: cover;
  background-position-x: right;

  & .title {
    font-family: "Kaushan Script", sans-serif;
    font-weight: normal;
    font-size: 97px;
  }

}

.product-image{
  width: auto;
  height: 216px;
  background-size: cover;
}